* {
    box-sizing: border-box;
  }

  .square {
    background: #d1f106;
    border: 20px solid #999;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }

  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }

  .totBoard{
    margin: 300px;
    margin-left:800px ;
  }

  .totbak{
    background-color: black;
    padding: 2%;
  }


  .btn {
    padding: 12px 20px;
    background-color: #008CBA;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 50%;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #006d84;
}

  
@media only screen and (max-width: 768px) {
  h1 {
      font-size: 36px;
  }
  
  .btn {
      font-size: 16px;
  }
}